<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-item active ">
            <a href="/" class='sidebar-link'>
                <i class="bi bi-grid-fill"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="sidebar-title">System Management</li>

        <li class="sidebar-item ">
            <a href="/User/Index" class='sidebar-link'>
                <i class="bi bi-grid-1x2-fill"></i>
                <span>User Management</span>
            </a>
        </li>

        <li class="sidebar-item ">
            <a href="/Store/Index" class='sidebar-link'>
                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                <span>Store Management</span>
            </a>
        </li>

        <li class="sidebar-item ">
            <a href="/Role/Index" class='sidebar-link'>
                <i class="bi bi-cloud-arrow-up-fill"></i>
                <span>Role Management</span>
            </a>
        </li>  

         <li class="sidebar-item ">
            <a href="/Config/Index" class='sidebar-link'>
                <i class="bi bi-cloud-arrow-up-fill"></i>
                <span>Config Management</span>
            </a>
        </li>  

         <li class="sidebar-title">Booking Management</li>

        <li class="sidebar-item ">
            <a href="application-email.html" class='sidebar-link'>
                <i class="bi bi-envelope-fill"></i>
                <span>Booking Data</span>
            </a>
        </li>

        <li class="sidebar-item ">
            <a href="application-email.html" class='sidebar-link'>
                <i class="bi bi-envelope-fill"></i>
                <span>Reject Order</span>
            </a>
        </li>

        <li class="sidebar-title">Form Return Management</li>

        <li class="sidebar-item ">
            <a href="application-gallery.html" class='sidebar-link'>
                <i class="bi bi-image-fill"></i>
                <span>Form Return</span>
            </a>
        </li>
    </ul>
</div>