<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/194a2e7c-bc95-47fd-acd4-0e7ff5309b2e/resourceGroups/BOOKING_RG_DEV/providers/Microsoft.ContainerRegistry/registries/aeonvnBookingACR</ResourceId>
    <ResourceName>aeonvnBookingACR</ResourceName>
    <ResourceGroup>BOOKING_RG_DEV</ResourceGroup>
    <Subscription>EA_TSO_DeliBooking_DEV</Subscription>
    <RegistryUrl>https://aeonvnbookingacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>
    </PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f238a896-6ee9-4244-bf7b-39be94e1290c</ProjectGuid>
  </PropertyGroup>
</Project>